# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
output/
fasta/
other_files/
repred/
blast_ass_ref.sh.e*
blast_ass_ref.sh.o*
output*/
