# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
output/*
fp/fasta/*
other_files/*
fp/repred/*
hg_19.fa
fp/*
pcr/*